.heroBlock {
    height: 100vh;
    background-image: url('~@/assets/map.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 666px;
}